<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/analyse/avgPrice">
    <button type="submit">Скачать данные</button>
</form>
<br>
<h3>Проанализировать имеющиеся данные:</h3>
<br>
<form method="post" action="/parse">
    <button type="submit">Средняя цена автомобиля</button>
</form>
<br>
<form method="post" action="/analyse/maxPrice">
    <button type="submit">Самая дорогая машина</button>
</form>
<br>
<form method="post" action="/analyse/minPrice">
    <button type="submit">Самая дешевая машина</button>
</form>
<br>
<form method="post" action="/analyse/oldestCars">
    <button type="submit">Самая старая машина</button>
</form>
<br>
<form method="post" action="/analyse/avgYear">
    <button type="submit">Средний возраст машины</button>
</form>
<br>

